[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kml"]
	path = kml
	url = https://github.com/cran/kml
[submodule "kml3d"]
	path = kml3d
	url = https://github.com/cran/kml3d
[submodule "longitudinalData"]
	path = longitudinalData
	url = https://github.com/cran/longitudinalData
